[submodule "musical-charts/lib/forge-std"]
	path = musical-charts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "musical-charts/lib/solmate"]
	path = musical-charts/lib/solmate
	url = https://github.com/Rari-Capital/solmate
